body {
    background-image: url(../images/dark_embroidery.png);
}

h1,
h2,
h3 {
    text-shadow: 1.5px 1.5px 0 #99ABB9;
    font-family: "Montserrat", sans-serif;
}

h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif
}

header {
    background-image: url(../images/blue.jpg);
}

header img {
    border-radius: 30px;
}

footer a {
    margin: 8px;
    text-decoration-line: none;
    font-size: 30px;
}

.w3-row-padding img {
    margin-bottom: 12px
}


/* Set the width of the sidebar to 120px */

.w3-sidebar {
    width: 120px;
    background-image: url(../images/dark_embroidery.png);
}


/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */

#main {
    margin-left: 120px
}


/* Remove margins from "page content" on small screens */

@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
}