body {
    background-image: url(../images/dark_embroidery.png);
}

h1,
h2,
h3 {
    text-shadow: 2px 2px 0 black;
    font-family: "Montserrat", sans-serif;
}

h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif
}

header {
    background-image: url(../images/blue.jpg);
}

header img {
    border-radius: 80px;
}

.w3-bar-item {
    background-image: url(../images/dark_embroidery.png);
}

#portfolio img {
    opacity: 0.8;
    box-shadow: 8px 8px 3px black;
}

#contact img {
    opacity: 0.8;
    border-radius: 9px;
    box-shadow: 10px 10px 5px black;
}

footer a {
    margin: 8px;
    text-decoration-line: none;
    font-size: 30px;
}

i {
    font-size: 80px;
    padding-right: 30px;
}

.w3-row-padding img {
    margin-bottom: 12px
}


/* Set the width of the sidebar to 120px */

.w3-sidebar {
    width: 120px;
    background-image: url(../images/dark_embroidery.png);
}


/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */

#main {
    margin-left: 120px
}


/* Remove margins from "page content" on small screens */

@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
}